/* Index */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: antiquewhite;
    background-color: rgb(0, 47, 135);
}

.nav {
    font-family: 'Lato', sans-serif;
    display: flex;
    background-color: rgb(0, 47, 135);
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    width: 100px;
}

.nav-list {
    list-style: none;
    background-color: rgb(0, 47, 135);
    color: white;
    margin: auto
}

.nav-list li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-list li:hover {
    transform: scale(1.2)
}

.texto {
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    padding: 10px;
    grid-area: texto;
    margin-top: 50px;
}

.nav-list li a {
    color: antiquewhite;
}

#footer {
    background-color: rgb(0, 47, 135);
}

.pag-principal {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(0, 47, 135);
    padding: 50px;
}

.section-index {
    display: grid;
    grid-template-areas: 
    "imagen aside"
    "texto texto"
    ;
}

.imagen {
    grid-area: imagen;
    margin-left: 30px;
    margin-top: 30px;
}

.imagen img {
    width: 90%;
}

.aside {
    grid-area: aside;
    text-align: center;
    margin: auto;
    font-family: 'Lato';
    font-size: 25px;
}

/* ---------------------- */

/* Contacto */

form {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.formulario div input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
}

.formulario div textarea {
    height: 100px;
    border: 2px solid black;
}

input:focus {
    outline: 2px solid rgb(53, 97, 240);
}

.formulario {
    border: solid 5px black;
    width: 18rem;
    height: 23rem;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    background: #f9f9f9;
}

.formulario div {
    padding: 10px;
}

textarea {
    resize: none;
    padding: 10px;
}

.h2-contacto {
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 47, 135);
    color: antiquewhite;
}

.contacto-main {
    height: auto;
}

/* ---------------------- */

/* Galeria */
.h2-galeria {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(0, 47, 135);
    padding: 50px;
}

.galeria {
    width: 90%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
    gap: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: center;
    margin: auto;
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 9px 11px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 9px 11px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 9px 11px -2px rgba(0, 0, 0, 0.75);
}

/* ---------------------- */

/* sobre-nosotros */

.sobre-nosotros-texto {
    font-family: 'Lato';
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 100px;
}

.sobre-nosotros-texto div {
    padding: 10px;
}

.sobre-nosotros-main {
    height: auto;
}

.h2-sobre-nosotros {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(0, 47, 135);
    padding: 50px;
}

/* ---------------------- */

/* Servicios */

.servicios-main {
    height: auto;
}

.h2-servicios {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(0, 47, 135);
    padding: 50px;
}

.card1 {
    display: flex;
    border: 5px solid black;
    border-radius: 5px;
    width: 18rem;
    height: 20rem;
    margin: 10px;
    padding: 10px;
    font-family: 'Lato';
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card1 p {
    margin: 50px;
}

.card2 {
    display: flex;
    border: 5px solid black;
    border-radius: 5px;
    width: 18rem;
    height: 20rem;
    margin: 10px;
    padding: 10px;
    font-family: 'Lato';
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.card2 p {
    margin: 50px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin: 100px;
}

.button {
    width: 57px;
    display: flex;
    margin-left: 115px;
}

/* ---------------------- */

/* media queries */

@media screen and (max-width:768px) {
    /* Index */
    .nav {
        flex-direction: column;
    }
    
    .logo-nav {
        text-align: center;
        padding-left: auto;
    }

    .nav-list li {
        display: inline-block;
        margin: 3px;
    }

    .aside {
        font-size: 20px;
        margin: 50px 0px 0px 20px;
    }

    .texto {
        font-size: 20px;
        margin: 50px;
    }

    .imagen {
        margin: 0px;
    }

    .imagen img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    /* ---------------------- */

    /* Sobre Nosotros */
    .sobre-nosotros-texto {
        font-family: 'Lato';
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 25px;
        border: 5px solid black;
        border-radius: 5px;
        margin: 50px;
    }
    /* ---------------------- */

    /* Servicios */

    .button {
        width: 57px;
        display: flex;
        text-align: center;
        margin: auto;
    }

    /* ---------------------- */
}

@media screen and (max-width:601px) {

    /* Index */
    .imagen {
        width: 300px;
        text-align: center;
        margin: 50px auto auto auto;
    }

    .aside {
        font-size: 15px;
    }

    .texto {
        font-size: 15px;
    }

    .section-index {
        grid-template-areas: 
        "imagen"
        "aside"
        "texto"
        ;
    }

    .nav-list li {
        display: block;
        margin: 30px;
    }

    /* ---------------------- */

    /* Sobre Nosotros */
    .sobre-nosotros-texto {
        font-family: 'Lato';
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 25px;
        border: 5px solid black;
        border-radius: 5px;
        margin: 20px;
    }

    /* ---------------------- */

    /* Servicios */
    .container {
        display: flex;
        font-size: 25px;
        margin: auto auto auto auto;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .card1 {
        height: auto;
        width: 200px;
    }

    .card2 {
        height: auto;
        width: 200px;
    }
    /* ---------------------- */

    /* Galeria */
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
    /* ---------------------- */
}